.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.hero-image {
    width: 300px;
    background-color: #ccc;
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 3em;
    margin-bottom: 3em;

}

.hero-content {
    flex: 1;
    text-align: left;
    margin-right: 5em;
}


.view-more {
    display: block;
    margin: 1em auto 17px;
    padding: 0.8em 2em;
    font-size: 1em;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.view-more:hover {
    background-color: #555;
    transform: scale(1.05); 
}

.view-more:active {
    background-color: #222;
}

