.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em; /* Оптимізований відступ між картками */
    margin-top: 1em;
    padding: 1em;
}

.product-card {
    width: 250px;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}



.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.product-image-placeholder {
    width: 100%;
    height: 300px; /* Висота для зображення, змініть за потреби */
    background-color: #e0e0e0;
    margin-bottom: 0.5em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 1em;
    color: #555;
    margin: 0.5em 0;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
    color: #333;
    font-weight: 600;
}

.product-card p {
    font-size: 0.9em;
    color: #666;
    margin: 0.5em 0;
    text-align: left; /* Текст вирівняний ліворуч для кращого вигляду */
    overflow: hidden;
    text-overflow: ellipsis;
}


.view-more {
    display: block;
    margin: 1em auto;
    padding: 0.8em 2em;
    font-size: 1em;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    text-decoration: none;
}

.view-more:hover {
    background-color: #6c3893;
}
