/* Header.css */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1em;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 40px; 
    height: auto;
    margin-right: 0.5em;
}

.logo-text {
    font-size: 1.2em;
    color: white;
}

.header-buttons { /* Додаємо стилі для кнопок */
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.header-buttons nav a {
    margin: 0 1em;
    color: white;
    text-decoration: none;
}

.header-buttons nav a:hover {
    text-decoration: underline;
}

.sign-in, .sign-up {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

.sign-in {
    background-color: #555;
    color: white;
}

.sign-up {
    background-color: #007BFF;
    color: white;
}

.sign-in:hover, .sign-up:hover {
    opacity: 0.9;
}
